<!DOCTYPE html>
<html>

<head>
  <title>Text to Speech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class="container">
    <img src="img/Amber-logo.png" alt="">
    <p class="description">Welcome to Amber Text to Speech App for recording all your Subliminal scripts.</p>
    <a href="http://betaclone.pw/tts-guide" target="_blank" class="guide">Abmer Text to Speech Guide</a>
    <textarea name="text" id="text"></textarea>
    <button id="start">Speak</button>
    <hr class="line">
    <div id="loading" class="hide">
      <img src="img/loading.gif" alt="" class="loading-img">
    </div>
    <div class="hide" id="audioDiv">
      <audio autoplay="" id="audio" class="audio " controls="" src=""
        type="audio/wav;codecs=opus">Your browser does not support the audio element.</audio>
    </div>
    <div class="hide error" id="error">
      <p>Cannot convet to speech</p>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>