.container {
  max-width: 800px;
  margin: auto;
  width: 90%;
  border: solid 1px #22222280;
  padding: 20px;
  margin-top: 10px;
}
textarea {
  width: 100%;
  min-height: 150px;
  margin-top: 20px;
}

#start {
  border-radius: 15px;
  background-color: #eee;
  border-color: #8f8a8a;
  margin-top: 30px;
  padding: 6px 10px;
}

.description {
  font-size: 18px;
  padding-left: 10px;
}

.line {
  margin: 20px 0px;
  color: #ccc;
  height: 2px;
}

.loading-img {
  width: 50px;
  margin: auto;
}

#loading {
  text-align: center;
}

.hide{
  display: none;
}

audio {
  width: 100%;
}

.error {
  color: red;
}

a.guide{
  padding: 20px 0px;
  font-size: 18px;
  color: #428bca;
  text-decoration: none;
}
p.guide {
  font-size: 18px;
  padding-left: 10px;
}
